body {background: lightgray;}
 
.header {
  
  width: 802px;
   margin-top: 0px;
   background-color: white;
   padding: 10px;
   border: 02px solid black;  
  }
  



table {width: 825px;
  border: 1px solid black; 
  
}

tr{vertical-align: top;
text-align: left;
}
td {
  border: 1px solid black; 
  width: 70%;}
    
h1 {
  font-variant: small-caps;  
  margin: 0px;
  font-family: fantasy, sans-serif; 
  color: yellow;
  
  
}
.skills {
    text-align: right;}

p { 
    margin: 0px;
    color: gold;
    font-size: 36px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  margin: 0px;
  text-decoration: underline;
  font-family: sans-serif;
  
  }
  
  h2 {
   line-height: 10px;
    font-variant: small-caps;
    font-family: sans-serif;
    color: purple;
      font-size: 38px;
  
  
}


  h6 {
    font-size: 12px;
    font-weight: normal;
    font-family: sans-serif; 
  }

h4 {
  margin: 0px;
  color: purple;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}
h3{
 line-height: 10px;
  border-top: 0px;
  color: purple;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
}

