body {
 background: rgb(195,195,195);
background: linear-gradient(0deg, rgba(195,195,195,0.844958051580007) 0%, rgba(176,173,173,1) 50%, rgba(84,84,84,1) 100%);


  }

.header {
   margin: 0px;
   background-color: white;
   padding: 0px;
   border: 0px solid black;
   
  
}


p { 
    
    color: black;
    font-size: 36px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

h5 {text-decoration: underline;
  font-family: Arial
  
}

h4 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
